@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  .custom-drop-shadow {
    filter: drop-shadow(0 0 5em #461566);
  }

  .custom-popup-drop-shadow {
    filter: drop-shadow(0 0 3em #461566);
  }

  .custom-shape-divider-bottom-1688215812 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    filter: drop-shadow(0 0 2em #242424);
  }

  .custom-shape-divider-bottom-1688215812 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
  }

  .custom-shape-divider-bottom-1688215812 .shape-fill {
    fill: #552B5C;
  }

  .testimonial {
    padding: 1.5rem;
    border-radius: 0.5rem;
  }

  .testimonial-1 {
    background: linear-gradient(30deg, rgba(68, 32, 153, 1), rgba(166, 57, 193, 1));
  }

  .testimonial-2 {
    background: linear-gradient(30deg, rgba(146, 153, 32, 1), rgba(166, 57, 193, 1))
  }

  .testimonial-3 {
    background: linear-gradient(75deg, rgba(153, 79, 32, 1), rgba(58, 60, 194, 1))
  }

  .testimonial-4 {
    background: linear-gradient(75deg, #5bb830, #35a8bd, rgba(144,58,194,1))
  }
}
